<%- include("header") -%>
<!-- first dont write the ejs tags -->
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus eaque, assumenda qui accusamus dolorem optio, voluptate deserunt odit alias asperiores similique perferendis? Facilis ex iure nulla eius corporis? Iste, sequi.</p>

<%- include("footer") -%>